<section class="site-under-construction" aria-label="Under construction">
  <img
    src="{{ under_construction_src }}"
    alt=""
    class="site-under-construction-img"
    width="260"
    height="270"
  />
</section>
